<form action="/students/<%=@student[0][0]%>" method = "post">
	<div class="row">
		<div class="large-6 columns">
				<div class="row colapse prefix-radius">
					<div class="small-3 columns">
						<span class="prefix">Student Name</span>
					</div>
					<div class="small-9 columns">
						<input type="text" name="name" value="<%=@student[0][1]%>">
					</div>
					
				</div>
		
		</div>
		<input type="submit" class="button" value="Submit">
	</div>
	
	

</form>