<form action="/movies" method = "post">
	<div class="row">
		<div class="large-6 columns">
			<div class="row collapse pefix-radius">
				<div class="small-3 columns">
					<span class="prefix">Movie name:</span>
					
				</div>
				<div class="small-9 columns">
					<input type="text" name="name">
				</div>
				
			</div>
		</div>
		<input type="submit" class="button" value="Submit">
	</div>
	
</form>